/* 1. Predictable Sizing (Mental Cue: No hidden expansion) */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  /* Colors */
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);

  /* Typography */
  --font-work-sans: "Work Sans", sans-serif;
  --tp-bold: 700;
  --tp-semi-bold: 600;
  --tp-regular: 400;
  /* --tp-line-height: 1.3; */

  --tp-1-size: 3.5rem;
  --tp-1-line-height: 4.125rem;
  --tp-2-size: 1.125rem;
  --tp-2-line-height: 1.313rem;
  --tp-3-size: 1rem;
  --tp-3-line-height: 1.5rem;
}

/* Typography presets */
.text-preset-1 {
  font-family: var(--font-work-sans);
  font-size: var(--tp-1-size);
  font-weight: var(--tp-bold);
  line-height: var(--tp-1-line-height);
}

.text-preset-2 {
  font-family: var(--font-work-sans);
  font-size: var(--tp-2-size);
  font-weight: var(--tp-semi-bold);
  line-height: var(--tp-2-line-height);
}

.text-preset-3 {
  font-family: var(--font-work-sans);
  font-size: var(--tp-3-size);
  font-weight: var(--tp-regular);
  line-height: var(--tp-3-line-height);
}

/* 2. Responsive Images (Mental Cue: Never overflow their container) */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--purple-100);
  min-height: 100vh;
  padding: 2rem 1rem;
  /* Quick Center Strategy */
  display: grid;
  place-content: center;
}

.accordion {
  background-color: var(--white);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--purple-100);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq-header {
  display: flex;
  gap: 1.5rem;
}

header {
  display: flex;
  gap: 1.5rem;
}

h1,
h2 {
  color: var(--purple-950);
}

.faq p {
  color: var(--purple-600);
}

/* .faq-1-content,
.faq-2-content,
.faq-3-content,
.faq-4-content {
  display: none;
} */
.hidden {
  display: none;
}
